* {
    margin : 0;
    padding: 0;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('butterfly.jpg');
    height : 100vh;
    background-size: cover;
    background-position : center;
}

ul{
    float : right;
    margin-top: 50px;
}

ul li{
    display: inline-block;
}

ul li a{
    padding: 5px 20px;
    margin: 5px;
    text-decoration : none;
    color: #fff;
    border : #fff solid 1px;
    border-radius: 5px;
    transition: 0.6s ease;
    //background-color:#fff;
    font-size: 20px
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float : left;
    width: auto;
    height: 100px;
    margin: 10px;
    margin-top: 20px;
    
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
        position: absolute;
        top: 70%;
        left: 50%;
        transform : translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}